<div class="container__small-card">

  <div class="container__small-card-content">
    <div class="small-card__picture">
      <img src="https://s2.glbimg.com/daMdYJhpxpr5-E78FMlS90olKYw=/0x0:1500x1000/924x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2022/m/d/anTjJ9RdAtAzpHlf6b0Q/filme-avatar-1.png"
      alt=""
      srcset=""
      >
    </div>

    <div class="small-card__title">
      <h1><a href="#"> Saiu a nova versão do Angular</a></h1>
    </div>
  </div>

  <div class="container__small-card-separator">
      <hr>
  </div>
</div>





